/** footer **/
#voetnoot {
    background-color: #31353D;
    color: #EBF2FF;
    margin-left: -10%;
    width: 110%;
    padding-bottom: 0;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*height: 180px;*/
    /*line-height: 100px;*/
}

.footer-copyright {
    border-top: 1px solid #464a52;
    background-color: #3A3F48;
    box-shadow: 0px -1px 5px #282c33;
    margin-left: -10%;
    width: 120%;
}