body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'Varela Round', sans-serif;
}

/** inhoud **/
#inhoud{
    padding: 20px;
    /*min-height: 80vh;*/
}

/** Evenement beheren **/
.eventbeheren table{
    border-collapse: collapse;
}

.eventbeheren table tr td{
    padding: 5px 10px;
    border-bottom: 2px solid lightgrey;
}

.delete a{
    cursor: pointer;
}

.delete a:hover{
    color: red;
}

.eventbeheren input[type=submit]{
    background-color: #007BFF;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.eventbeheren input[type=submit]:hover{
    background-color: #005efe;
}

.anchorBewerken1{
    color: White;
    text-decoration: none;
    width: 100%;
}

.anchorBewerken2{
    color: White;
    text-decoration: none;
}

.eventToevoegen{
    margin-top: 1%;
}


.info-body h5{
    font-weight: bold;
}