body{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 180px;
}

html{
    position: relative;
    min-height: 100%;
}

/** header **/
nav{
    background-color: lightskyblue;
}

.nav-item a{
    color: black;
    float: left;
    padding: 10px 0px;
}

.nav-item a:hover{
    text-decoration: none;
    color: Gray;
}

/** inhoud **/
#inhoud{
    padding: 20px;
    /*min-height: 80vh;*/
}



/** footer **/
#voetnoot {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    height: 180px;
    /*line-height: 100px;*/

}

.footer-copyright {
    background-color: #66c1f9;
}
/** Evenement beheren **/
.eventbeheren table{
    border-collapse: collapse;
}

.eventbeheren table tr td{
   padding: 5px 10px;
    border-bottom: 2px solid lightgrey;
}