body{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

/** header **/
nav{
    background-color: lightskyblue;
}

.nav-item a{
    color: black;
    float: left;
    padding: 10px 0px;
}

.nav-item a:hover{
    text-decoration: none;
    color: Gray;
}


/** inhoud **/
#inhoud{
    padding: 20px;
}

/** footer **/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
}

.footer-copyright {
    background-color: #66c1f9;
}


/** Evenement beheren **/
.eventbeheren table{
    border-collapse: collapse;
}

.eventbeheren table tr td{
   padding: 5px 10px;
    border-bottom: 2px solid lightgrey;
}





