body{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 180px;
}

html{
    position: relative;
    min-height: 100%;
}

/** header **/
nav{
    background-color: lightskyblue;
}

.nav-item a{
    color: black;
    float: left;
    padding: 10px 0px;
}

.nav-item a:hover{
    text-decoration: none;
    color: Gray;
}

/** inhoud **/
#inhoud{
    padding: 20px;
    /*min-height: 80vh;*/
}



/** footer **/
#voetnoot {
    box-shadow: 10px 10px 10px 10px #4e555b;
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: #31353D;
    color: #fff;
    height: 180px;
    /*line-height: 100px;*/
}

/** Evenement beheren **/
.eventbeheren table{
    border-collapse: collapse;
}

.eventbeheren table tr td{
    padding: 5px 10px;
    border-bottom: 2px solid lightgrey;
}

.delete a{
    cursor: pointer;
}

.delete a:hover{
    color: red;
}

.eventbeheren input[type=submit]{
    background-color: #007BFF;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.eventbeheren input[type=submit]:hover{
    background-color: #005efe;
}

.anchorBewerken1{
    color: White;
    text-decoration: none;
    width: 100%;
}

.anchorBewerken2{
    color: White;
    text-decoration: none;
}

.eventToevoegen{
    margin-top: 1%;
}