body{
    margin: 0;
    padding: 0;
}

/** header **/
nav{
    background-color: lightgray;
}


/** inhoud **/
#inhoud{
    padding: 20px;
}


/** footer **/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: lightgray;
}